* {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body {
  overflow: hidden;
}
.nav-container {
  height: 8vh;
  display: flex;
  align-items: center;
}

nav {
  padding: 0 2rem;
  background-color: #303030;
}
.logo {
  color: white;
}

.container {
  height: 92vh;
  padding: 2rem;
}
.container-data {
  padding: 1rem;
}

.indent {
  padding: 0 2rem;
}
.across {
  padding: 1rem;
  padding-left: 0rem;
  display: inline-block;
  /* width: 47%; */
  text-align: center;
}
.title p {
  color: #b7950b;
  font-weight: 700 !important;
}
.default {
  color: brown;
}
button {
  padding: 1rem;
  outline: none;
  width: 10%;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
}

.btn-div {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.textfield{
  outline: none;
  border-color: black;

}
.bold {
  font-weight: 900;
}

.special {
  padding: 0 !important;
}

.down{
  display: block;
}